@font-face { font-family: OpenSans; src: url('../Resources/openSans.ttf'); } 
      html{
  background-color: #f1f1f1;
        font-family: OpenSans;
      }
      /*SCROLLBAR*/
      /* width */
      ::-webkit-scrollbar {
        width: 10px;
      }
      /* Handle */
      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #141415;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #000000);
      }

      /* Logo + Background Image */
      .logo-container {
            position: relative;            
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
      }

      .logo-image {
            position: absolute;
      }

      .Logo-Image{
            z-index: 2;
            width: 60%;
      }

      .Background-Image {
            z-index: 3;
      }

      /* Navigation Bar */
       ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }


      li{
        display: inline;
      }

      /* Hide Dropdown */
      ul .nav-dropdown {
            display: none;
            position: absolute;
            background-color: #c3153a;
            z-index: 1; 
      }

      /* Dropdown Text */
      ul .nav-dropdown a {
            color: #f1f1f1;
            display: block;
      }

      /* Show dropdown on hover */
      ul .dropdown:hover .nav-dropdown {
            display: block;
      }
      
      /* li a{
        font-family: OpenSans;
        padding: 14px 16px;
        color: rgb(150, 150, 150);
        background-color: #141415;
        text-align: center;
         text-decoration: none;
        border-radius: 5px; 
         transition: background-color .75s ease-out 50ms;
        transition: color .75s ease-out 50ms;
        transition: font-size .75s ease-out 50ms; 
      }
      
      li a:hover {
        background-color: rgb(163, 47, 47);
        color: rgb(241, 241, 241);
        font-size:18px;
      } */

      .divider hr{
        height: 1px;
        background-color: #141415;
        border: none;
        width: 40%;
        padding: 10px, 10px;
      }
      .divider{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h1{
        color: #141415
      }
      /*Mobile*/
      @media screen and (max-width: 1200px) {
        /* comes into effect for screens larger than or equal to 481 pixels */
        .ourStory-Container{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          margin: 5%;
        }
        .ourStory-Container div{
          font-family: OpenSans;
          padding: 2%;
          width: 80%;
          text-align: center;
          font-size: medium;
        }
        .ourStory-Container img{
          width: 80%;
          padding:2%;
        }
        nav {
          width: 80%;
          margin: 0 auto;
          font-size: 25px;
        }
      }
      /*Desktop*/
      @media screen and (min-width: 1201px) {
      .ourStory-Container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 5%;
      }
      .ourStory-Container div{
        font-family: OpenSans;
        padding: 2%;
        flex-grow: 4;
        width: 45%;
        text-align: center;
        font-size: medium;
        min-width: 300px;
      }
      
      .ourStory-Container img{
        padding: 2%;
        width: 40%;
      }
    }

      

      .page-title{
        font-size: 100px;
        color: #141415;
        font-family: OpenSans;
      }
      .Title-Container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height:100%;
      }
      .flex-break{
          flex-basis: 100%;
          height: 0;
      }
      .people-container{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
      }
      .people-container .person{
        justify-content: center;
        text-align: center;
        padding: 12px;
      }
      .people-container .person .name{
        font-size: px;
        color: #000000;
      }
      .people-container .person .pTitle{
        font-size: 18px;
        color: rgb(224, 198, 83);
      }
      .sponsor-amount{
        color: #000000;
        size:18px;
      }
      .sponsor-detail{
        color:#000000;
        size:14px;
      }
      .ul-list{

      }

      h2{
        margin:5px;
      }
      /*NAV.FILL*/

      nav {
        width: 80%;
        margin: 0 auto;
      }
      nav ul {
        list-style: none;
        text-align: center;
      }
      nav ul li {
        display: inline-block;
      }
      nav ul li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #141415;
        font-weight: 800;
        text-transform: uppercase;
      }
      nav ul li a,
      nav ul li a:after,
      nav ul li a:before {
        transition: all .2s;
      }
      nav ul li a:hover {
        color: #000000;
      }

      nav.fill ul li a {
        position: relative;
      }
      nav.fill ul li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #aaa;
        height: 1px;
      }
      nav.fill ul li a {
        transition: all 2s;
      }
      nav.fill ul li a:after {
        text-align: left;
        content: '.';
        margin: 0;
        opacity: 0;
      }
      nav.fill ul li a:hover {
        color: #fff;
        z-index: 1;
      }
      nav.fill ul li a:hover:after {
        z-index: -10;
        animation: fill .5s forwards;
        -webkit-animation: fill 1s forwards;
        -moz-animation: fill 1s forwards;
        opacity: 1;
      }
      @-webkit-keyframes fill {
        0% {
          width: 0%;
          height: 1px;
        }
        50% {
          width: 100%;
          height: 1px;
        }
        100% {
          width: 100%;
          height: 100%;
          background: rgb(163, 47, 47);
        }
      }
